html,
body {
  width: 100%;
  height: 100%;
  margin: 50px 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.maintext {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel,
.carousel-inner {
  width: 70vw;
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  background-size: cover;
  /* overflow: hidden; */
}
.carousel-item {
  width: 100%;
  height: 100%;
  position: absolute; /* 추가: 겹쳐지게 하기 */
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.carousel-item.active {
  position: relative; /* 추가: 활성된 슬라이드만 레이아웃에 참여 */
  opacity: 1;
  z-index: 1;
}
.captiontext {
  color: black;
}
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbtn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
